<div class="sidebar">
  <nav>
    <a routerLink="admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>dashboard</mat-icon>
      <span class="menu-text">Dashboard</span>
    </a>
    <a routerLink="/admin/suppliers/list" routerLinkActive="active">
      <mat-icon>local_shipping</mat-icon>
      <span class="menu-text">Proveedores</span>
    </a>
    <a routerLink="/admin/employees/list" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      <span class="menu-text">Empleados</span>
    </a>
    <a routerLink="/admin/customer/list" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span class="menu-text">Clientes</span>
    </a>
    <a routerLink="/admin/products/list" routerLinkActive="active">
      <mat-icon>inventory_2</mat-icon>
      <span class="menu-text">Productos</span>
    </a>
    <a routerLink="/admin/sales/list" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      <span class="menu-text">Ventas</span>
    </a>

    <a routerLink="/admin/buys" routerLinkActive="active">
      <mat-icon>shopping_bag</mat-icon>
      <span class="menu-text">Compras</span>
    </a>

    <div class="logout">
      <a routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span class="menu-text">Cerrar Sesión</span>
      </a>
    </div>
  </nav>
</div>
