<div class="form-container">
  <h2 class="form-title">Formulario de Empleado</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-grid">
    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Apellido -->
    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="surname" />
      <mat-error *ngIf="employeeForm.get('surname')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Cargo -->
    <mat-form-field appearance="fill" [ngClass]="employeeForm.get('post')?.value">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="post">
        <mat-option value="Administrador">Administrador</mat-option>
        <mat-option value="Cajero">Cajero</mat-option>
        <mat-option value="Supervisor">Supervisor</mat-option>
        <mat-option value="Vendedor">Vendedor</mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('post')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" maxlength="9" />
      <mat-hint align="end">{{ employeeForm.get('phone')?.value?.length || 0 }}/9</mat-hint>
      <mat-error *ngIf="employeeForm.get('phone')?.hasError('required')">
        Campo obligatorio
      </mat-error>
      <mat-error *ngIf="employeeForm.get('phone')?.hasError('pattern')">
        Formato inválido
      </mat-error>
    </mat-form-field>

    <!-- Botones -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">Aceptar</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
