$sidebar-width: 250px;
$sidebar-collapsed-width: 80px;
$header-height: 60px;

.layout-container {
  display: flex;
  margin-top: $header-height;
  height: calc(100vh - $header-height);
  transition: all 0.3s ease;
}

.sidebar {
  width: $sidebar-collapsed-width;
  background-color: #850935;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  height: 100%;
}

.sidebar:hover {
  width: $sidebar-width;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  transition: margin 0.3s ease;
}
