.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 16px;
  background-color: #444; // Gris oscuro suave
  color: #fff;
  border-bottom: 1px solid #ccc;

  .left-section,
  .center-section,
  .right-section {
    display: flex;
    align-items: center;
  }

  .left-section {
    .logo {
      width: 100px;
      height: auto;
      margin-right: 16px;
    }
  }

  .center-section {
    flex: 1;
    justify-content: center;

    .title-bar {
      background-color: transparent;
      font-size: 1.2rem;
      font-weight: 500;
      color: #fff;
      text-align: center;
      padding: 4px 12px;
    }
  }

  .right-section {
    gap: 10px;

    button {
      color: #fff;
    }
  }
}
