.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #850935; // Vinotinto
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  cursor: pointer;
  font-size: 24px;
}
